/* src/styles/global.css */

@import './variables.css';

/* Basic Reset & Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-family-sans-serif);
  line-height: var(--line-height-base);
  color: var(--color-text);
  background-color: var(--color-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Make images responsive by default */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}


/* ************ */





/* need to check if in use : */


/* Basic button styling */
button {
  cursor: pointer;
  font-family: inherit; /* Inherit  from body */
  font-size: inherit;
  border: none;
  background-color: transparent;
}

a {
  color: var(--color-primary);
  text-decoration: none; 
}

a:hover {
  color: var(--color-primary-hover);
  text-decoration: underline; 
}

/* Basic form input styling */
input,
textarea,
select {
  font-family: inherit;
  font-size: var(--font-size-base);
  padding: var(--input-padding-y) var(--input-padding-x);
  border: var(--border-width) solid var(--color-border);
  border-radius: var(--border-radius);
  transition: var(--transition-base);
  width: 100%; /* Make inputs take full width of their container by default */
}

input:focus,
textarea:focus,
select:focus {
  outline: 0;
  border-color: var(--color-input-focus-border);
  box-shadow: 0 0 0 0.25rem var(--color-input-focus-shadow);
}

